body {
  background-color: black;
  margin: 0%;
}

.menu-button {
  width: 300px;
  padding: 20px;
  margin: 10px;
  font-size: 24px;
  border-radius: 12px;
  cursor: pointer;
}

.control-button {
  width: 80px;
  height: 80px;
  font-size: 40px;
  border-radius: 20px;
  opacity: 0.7;
  touch-action: none; /* prevents scrolling on mobile devices */
}

#start-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
}

#title-text {
  margin-bottom: 40px;
}

#controls-ui {
  position: fixed;
  bottom: -20px;
  right: 10px;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;
  gap: 10px;
  z-index: 9999;
}

/* top left text */
#ui-text {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

/* top right text */
#ui-hint {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}

#save-load-ui {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 9999;
}

#save-load-ui button {
  font-size: 20px;
  padding: 4px 8px;
  border-radius: 6px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #555;
  cursor: pointer;
  opacity: 0.7;
}
